* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  .header {
    position: fixed;
    z-index: 10;
    padding: 38px;
    width: 100%;
    
    &__hamburger {
      display: none;
    }
    
    &__wrapper {
      border-bottom: 1px solid #FFF;
      display: flex;
      justify-content: space-between;
    }
  
    &__navigation {
      display: flex;
      justify-content: center;
      align-items: center;
    }

 &__option { 
    padding-bottom: 42px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.26px;
    text-transform: uppercase;
    width: 134px;
    border-bottom:3px solid transparent;
    text-decoration: none;
      &:hover{
        border-bottom:3px solid #BABBC5;
      }
    }
    &__logo{
       width: 184px;
       height: 26px;
       &__image{
        width: 100%;
        height: 100%;
       }
    }
  }
  .scrolled-color {
    color: #2C3154;
    &:hover{
      border-bottom:3px solid #2C3154;
    }
    
  } 
  .scrolled-line{
    border-bottom: 1px solid #2C3154;
  }
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .banner {
    position: relative;
    padding: 230px 0px 120px 0px;
    background-image: url(/media/img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background: #252B49;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    &__title {
      color: #FFF;
      text-align: center;
      font-size: 64px;
      font-weight: 900;
      line-height: 75.14px;
      text-transform: uppercase;
      margin-bottom: 31px;
    }
  
    &__info {
      color: #FFF;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 28.18px;
      margin-bottom: 80px;
    }
  
    &__cta {
    }
  }
  
  .cta {
    display: block;
    cursor: pointer;
    max-width: 370px;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 28px;
    padding: 26px;
    background-color: #FF4343;
    border: none;
    margin: 0 auto;
  
    &:hover {
      background-color: #E71414;
    }
  
    &:active {
      background-color: #FF4343;
      box-shadow: 4px 4px 30px 0px #FF4343;
    }
  }
  
  .features {
    padding-top: 116px;
    &__content {
      margin-bottom: 116px;
    }
    &__item {
      margin: 0 auto;
      text-align: center;
    
      &-logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 51px;
      }
    
      &-title {
        color: #2D3033;
        font-size: 24px;
        font-weight: 900;
        line-height: 28.18px;
        text-transform: uppercase;
        margin-bottom: 42px;
      }
    
      &-info {
        color: #6C7279;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.13px;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      column-gap: 30px;
    
      &-top {
        margin-bottom: 89px;
      }
    }
  }
  
  .examples {
    &__row {
      display: flex;
      justify-content: center;
  
    }
    &__picture {
      flex: 0 1 25%;
    
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  
  .team {
    padding-top: 114px;
    &__content {
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }
    &__member {
        margin: 0 auto;
        &-picture {
            max-height: 270px;
            max-width: 270px;
            margin-bottom: 30px;
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        &-name {
            color: #2D3033;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.18px;
            text-transform: capitalize;
            margin-bottom: 5px;
        }
        &-position {
            color: #FF4343;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.13px;
            text-transform: uppercase;
            margin-bottom: 18px;
        }
        &-comments {
            color: #6C7279;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.13px;
            margin-bottom: 37px;
        }
        &-social {
            display: flex;
            flex-direction: flex-start;
            column-gap: 6px;
        }
    }
    &__social-logo {
        height: 39px;
        width: 39px;
    }
    &__social-image {
        width: 100%;
        height: 100%;
    }
  }
  
  

  
  @media only screen and (max-device-width: 1024px) {
    .container {
      width: 100%;
      padding: 0px 20px;
    }
  
    .banner {
      padding: 257px 0px 126px 0px;
      &__title {
        font-size: 48px;
        margin-bottom: 61px;
        line-height: 56.35px;
      }
      &__info {
        font-size: 18px;
        line-height: 21.13px;
      }
    }
  
  
    .cta {
      max-width: 314px;
    }
  
    .features {
      padding-top: 76px;
      &__item {
        margin: 0 auto;
        text-align: center;
    
        &-logo {
          width: 85px;
          height: 85px;
          margin: 0 auto;
          margin-bottom: 44px;
        }
    
        &-title {
          font-size: 18px;
          line-height: 21.13px;
        }
    
        &-info {
          font-size: 14px;
          line-height: 16.44px;
        }
      }
      &__row {
        column-gap: 20px;
        &-top {
            margin-bottom: 49px;
          }
      }
      &__content {
        margin-bottom: 80px;
      }
    }

  
    .example__picture {
      position: relative;
      z-index: -1;
    }

    .team__member{
        &-name {
            font-size: 18px;
            line-height: 21.13px;
        }
        &-position {
            font-size: 14px;
            line-height: 16.44px;
        }
        &-comments {
            font-size: 14px;
            line-height: 16.44px;
        }
        &-picture {
            width: 227px;
            height: 227px;
        }
    }
  
    .team__social-logo {
      width: 32px;
      height: 32px;
    }

  }
  
  @media only screen and (max-device-width: 950px) {
    .header__navigation {
      column-gap: 30px;
    }
  }
  
  @media only screen and (max-device-width: 767px) {
    .examples{
      &__row{
        flex-wrap: wrap;
      }
      &__picture{
        flex: 0 1 50%;
      }
    }
    .banner {
      padding: 106px 0px 52px 0px;
      /*height: 100vh;*/
      &__title {
        font-size: 36px;
        margin-bottom: 33px;
        line-height: 42.26px;
      }
      &__info {
        font-size: 14px;
        line-height: 16.44px;
      }
    }
  
    .cta {
      max-width: 100%;
    }
  
    .features {
      padding-top: 40px;
      &__row {
        flex-direction: column;
        flex: 0 1 100%;
        column-gap: 0px;
      }
      &__item {
        max-width: 280px;
        width: 100%;
        margin-bottom: 40px;
    
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__content {
        margin-bottom: 35px;
      }
    }

    .team{
        &__content {
            flex-direction: column;
            justify-content: center;
        }
        &__member {
            margin-bottom: 56px;
            flex: 0 1 100%;
        
            &:last-child {
              margin-bottom: 0px;
            }
            &-picture {
                max-width: 100%;
                width: 100%;
                max-height: 227px;
           
            }
            &-image{
                object-fit: cover;
            }
            &-comments {
                font-size: 14px;
                line-height: 16.44px;
            }
          }
    }
    .header{
        padding: 21px;
        &__navigation {
            display: none;
        }
        &__hamburger {
            display: block;
        }
        &__wrapper{
            border:none;
         }
         &__logo{
            width: 104px;
            height: 15px;
        }
    }
  
}
  