*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
header{
    position: fixed;
    z-index: 10;
    padding: 38px;
    width: 100%;
}
.header__hamburger{
    display: none;
}
.header__wrapper{
    padding-bottom: 42px;
    border-bottom: 1px solid #FFF;
}
.header__navigation{
    display: flex;
    justify-content: center;
    column-gap:76px;
    align-items:center;  
}
.header__option{
    
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.26px;
    text-transform: uppercase;
    text-decoration: none;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner{
    position: relative;
    padding: 230px 0px 120px 0px;
    background-image:url(/media/img/banner.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 1;
}
.banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #252B49;
    top: 0;
    left: 0;
    z-index: -1;
  }
.banner__title {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 75.14px;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.banner__info {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;
    margin-bottom: 80px;  
}
.banner__cta {
}
.cta {
display: block;
  cursor: pointer;
  max-width: 370px;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 28px;
  padding: 26px;
  background-color:#FF4343;
  border:none;
  margin: 0 auto;
}
.cta:hover{
    background-color: #E71414;
}
.cta:active{
    background-color:#FF4343;
    box-shadow: 4px 4px 30px 0px #FF4343;
}
.features{
    padding-top: 116px;
}
.features__item{
    margin: 0 auto;
    text-align: center;
}
.features__item-logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 51px;
}
.features__item-title {
    color: #2D3033;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.18px;
    text-transform: uppercase;
    margin-bottom: 42px;

}
.features__info{
    color: #6C7279;;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;  
}
.features__row{
    display:flex;
    align-items:center;
    column-gap: 30px;
}
.features__row-top{
    margin-bottom: 89px;
}
.features__content{
    margin-bottom: 116px;
   
}

.exmaples {
}
.examples__content {
}
.exmaples__row {
    display: flex;
}
.exmple__picture {
    position: relative;
    width: calc(100% / 4);
    height: 100%;
    overflow:hidden;
    z-index: -1;
}

.exmple__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    padding-top: 114px;
}
.team__container {
}
.container {
}
.team__content {
    display: flex;
    justify-content: center;
    column-gap:30px;
}
.team__member {
    margin: 0 auto;
}
.team__member-picture {
    max-height: 270px;
    max-width: 270px;
    margin-bottom: 30px;
}
.team__member-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.team__member-name {
    color: #2D3033;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.team__member-position {
    color: #FF4343;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.team__member-comments {
    color: #6C7279;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-bottom: 37px;
}
.team__member-social{
    display: flex;
    flex-direction: flex-start;
    column-gap:6px;
}
.team__social-logo{
    height: 39px;
    width: 39px;
}
.team__social-image{
    width: 100%;
    height: 100%;
}
@media only screen and (max-device-width:1024px){
    .container{
        width: 100%;
        padding: 0px 20px;
    }
    .banner{
        padding: 257px 0px 126px 0px;
    }
    .banner__title{
        font-size: 48px;
        margin-bottom: 61px;
        line-height: 56.35px;
    }
    .banner__info{
        font-size: 18px;
        line-height: 21.13px;
    }
    .cta{
        max-width: 314px;
    }


    .features{
        padding-top: 76px;
    }
    .features__item{
        margin: 0 auto;
        text-align: center;
    }
    .features__item-logo{
        width: 85px;
        height: 85px;
        margin: 0 auto;
        margin-bottom: 44px;
    }
    .features__item-title {
        font-size: 18px;
        line-height: 21.13px;
    }
    .features__info{
        font-size: 14px;
        line-height: 16.44px;
    }
    .features__row{
        column-gap: 20px;
    }
    .features__row-top{
        margin-bottom: 49px;
    }
    .features__content{
        margin-bottom: 80px;
    }

    .exmple__picture {
        position: relative;
        width: calc(100% / 4);
        z-index: -1;
    }
    .team__content{
    }
    .team__member-name{
        font-size: 18px;
        line-height: 21.13px;
    }
    .team__member-position{
        font-size: 14px;
        line-height: 16.44px;
    }
    .team__member-comments{
        font-size: 14px;
        line-height: 16.44px;
    }
    .team__social-logo{
        width: 32px;
        height: 32px;
    }
    .team__member-picture{
        width: 227px;
        height: 227px;
    }
}
@media only screen and (max-device-width:950px){
    .header__navigation{
        column-gap:30px;
    }  
}
@media only screen and (max-device-width:767px){
    .banner{
        padding: 106px 0px 52px 0px;
        /*height: 100vh;*/
    }
    .banner__title{
        font-size: 36px;
        margin-bottom: 33px;
        line-height: 42.26px;
    }
    .banner__info{
        font-size: 14px;
        line-height: 16.44px;
    }
    .cta{
        max-width: 100%;
    }
    .features{
        padding-top: 40px;
    }
    .features__row{
        flex-direction: column;
        flex: 0 1 100%;
        column-gap:0px;
    }
    .features__item{
        max-width: 280px;
        width: 100%;
        margin-bottom: 40px;
    }
    .features__item:last-child{
        margin-bottom: 0;
    }
    .features__content{
        margin-bottom: 35px;
    }
    .exmaples__row{
        flex-wrap: wrap;
    }
    .exmple__picture{
        flex: 0 1 50%;
    }
    .team__content{
        flex-direction: column;
        flex: 0 1 100%;
    }
    .team__member{
        margin-bottom: 56px;
    }
    .team__member:last-child{
        margin-bottom: 0px;
    }
    .team__member-picture{
        width: 100%;
        height: 100%;
    }
    .team__member-comments{
        font-size: 14px;
        line-height: 16.44px;
    }
    .header__navigation{
        display: none;
    }
    .header__hamburger{
        display: block;
    }
}