* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.header {
  position: fixed;
  z-index: 10;
  padding: 38px;
  width: 100%;
}
.header__hamburger {
  display: none;
}
.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFF;
  bottom: 0;
  left: 0;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__option {
  padding: 36px 0px;
  min-width: 134px;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.26px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
.header__option:hover {
  border-bottom: 3px solid #BABBC5;
}
.header__logo {
  display: flex;
  width: 184px;
  height: 26px;
}
.header__logo__image {
  width: 100%;
  height: 100%;
}

.scrolled-color {
  color: #2C3154;
}
.scrolled-color:hover {
  border-bottom: 3px solid #2C3154;
}
.scrolled-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2C3154;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-device-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.banner {
  position: relative;
  padding: 230px 0px 120px 0px;
  background-image: url(/src/media/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #252B49;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner__title {
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  line-height: 75.14px;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.banner__info {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.18px;
  margin-bottom: 80px;
}
.cta {
  display: block;
  cursor: pointer;
  max-width: 370px;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
  padding: 26px;
  background-color: #FF4343;
  border: none;
  margin: 0 auto;
}
.cta:hover {
  background-color: #E71414;
}
.cta:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
}

.features {
  padding-top: 116px;
}
.features__content {
  margin-bottom: 116px;
}
.features__item {
  margin: 0 auto;
  text-align: center;
}
.features__item-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.features__item-title {
  color: #2D3033;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.18px;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.features__item-info {
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}
.features__row {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.features__row-top {
  margin-bottom: 89px;
}

.examples__row {
  display: flex;
  justify-content: center;
}
.examples__picture {
  flex: 0 1 25%;
}
.examples__image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.team {
  padding-top: 114px;
}
.team__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__member {
  margin: 0 auto;
}
.team__member-picture {
  max-height: 270px;
  max-width: 270px;
  margin-bottom: 30px;
}
.team__member-image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.team__member-name {
  color: #2D3033;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.team__member-position {
  color: #FF4343;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.team__member-comments {
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 37px;
}
.team__member-social {
  display: flex;
  flex-direction: flex-start;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.team__social-logo {
  height: 39px;
  width: 39px;
}
.team__social-image {
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 1024px) {
  .banner {
    padding: 257px 0px 126px 0px;
  }
  .banner__title {
    font-size: 48px;
    margin-bottom: 61px;
    line-height: 56.35px;
  }
  .banner__info {
    font-size: 18px;
    line-height: 21.13px;
  }
  .cta {
    max-width: 314px;
  }
  .features {
    padding-top: 76px;
  }
  .features__item {
    margin: 0 auto;
    text-align: center;
  }
  .features__item-logo {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  .features__item-title {
    font-size: 18px;
    line-height: 21.13px;
  }
  .features__item-info {
    font-size: 14px;
    line-height: 16.44px;
  }
  .features__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .features__row-top {
    margin-bottom: 49px;
  }
  .features__content {
    margin-bottom: 80px;
  }
  .example__picture {
    position: relative;
    z-index: -1;
  }
  .team__member-name {
    font-size: 18px;
    line-height: 21.13px;
  }
  .team__member-position {
    font-size: 14px;
    line-height: 16.44px;
  }
  .team__member-comments {
    font-size: 14px;
    line-height: 16.44px;
  }
  .team__member-picture {
    width: 227px;
    height: 227px;
  }
  .team__social-logo {
    width: 32px;
    height: 32px;
  }
  .header__option {
    min-width: 112px;
  }
}
@media only screen and (max-device-width: 992px) {
  .header__navigation {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .header__option {
    min-width: -moz-max-content;
    min-width: max-content;
  }
}
@media only screen and (max-device-width: 767px) {
  .examples__row {
    flex-wrap: wrap;
  }
  .examples__picture {
    flex: 0 1 50%;
  }
  .banner {
    padding: 106px 0px 52px 0px;
    /*height: 100vh;*/
  }
  .banner__title {
    font-size: 36px;
    margin-bottom: 33px;
    line-height: 42.26px;
  }
  .banner__info {
    font-size: 14px;
    line-height: 16.44px;
  }
  .cta {
    max-width: 100%;
  }
  .features {
    padding-top: 40px;
  }
  .features__row {
    flex-direction: column;
    flex: 0 1 100%;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .features__item {
    max-width: 280px;
    width: 100%;
    margin-bottom: 40px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
  .features__content {
    margin-bottom: 35px;
  }
  .team__content {
    flex-direction: column;
    justify-content: center;
  }
  .team__member {
    margin-bottom: 56px;
    flex: 0 1 100%;
  }
  .team__member:last-child {
    margin-bottom: 0px;
  }
  .team__member-picture {
    max-width: 100%;
    width: 100%;
    max-height: 227px;
  }
  .team__member-image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team__member-comments {
    font-size: 14px;
    line-height: 16.44px;
  }
  .header {
    padding: 22px 0px;
  }
  .header__navigation {
    display: none;
  }
  .header__hamburger {
    display: flex;
  }
  .header__wrapper {
    border: none;
  }
  .header__logo {
    width: 104px;
    height: 15px;
  }
}/*# sourceMappingURL=style.css.map */